<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="src.main.resources.myBatis.mappers.TablesMapper">
    <resultMap id="tables" type="com.solvd.cafe.models.Tables">
        <id property="id" column="table_id"/>
        <result property="seatingSize" column="seating_size"/>
        <result property="cafesId" column="cafes_id"/>
    </resultMap>
    <select id="getById" parameterType="int" resultMap="tables">
        SELECT * FROM tables WHERE table_id=#{id}
    </select>
    <select id="getAllRecords" resultMap="cafeAddresses">
        SELECT * FROM tables
    </select>
    <insert id="create">
        INSERT INTO tables(seating_size, cafes_id)
        VALUES (#{seatingSize}, #{cafesId})
    </insert>
    <update id="update">
        UPDATE tables SET seating_sizee=#{seatingSizee}, cafes_id=#{cafesI} WHERE table_id=#{id}
    </update>
    <delete id="delete">
        DELETE FROM tables WHERE table_id=#{id}
    </delete>
</mapper>