<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.user}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="myBatis/mappers/CafeAddressesMapper.xml"/>
        <mapper resource="myBatis/mappers/FranchisesMapper.xml"/>
        <mapper resource="myBatis/mappers/MenuMapper.xml"/>
        <mapper resource="myBatis/mappers/OrderDetailsMapper.xml"/>
        <mapper resource="myBatis/mappers/TablesMapper.xml"/>
    </mappers>
</configuration>